<%- include("header") -%>

<div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% for (var i = 0; i < listItems.length; i++) {  %>
            <div class="item">
                <input type="checkbox"> // Inside the styles.css, you will see the input + p, which means that
                <p> <%= listItems[i] %> </p>// the style selects all p elements that are placed immediately after the input
            </div> //you will also see [] brackets, which means that you want to target the elements inside those brackets.
            <% } %>


        <form class="item" action="/" method="POST">
            <input type="text" name="task" placeholder="Input your new task! ðŸ“" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
  
    </div>
    
    <%- include("footer") -%>
